<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
  {{>navbar}}

    <!-- header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Right side div -->
                    <div class="col-md-6 col-12 align-items-center main_header_right">
                        <figure>
                            <img src="/images/favicon.png" alt="img" class="img-fluid aboutpageimg" title="RAJA USMAN">
                        </figure>
                    </div>

                    <!-- left side div -->
                    <div class="col-md-6 col-12  main_header_left">
                        <p>Welcome to Raja Usman WebApp</p>
                        <h1>i am a <span id="weatherwordstyling">Mern Stack web developer</span> And a freelancer</h1>
                        <a href="/contact" target="blank"><button>Contact Us</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
   {{>footer}}
</body>

</html>