<!DOCTYPE html>
<html lang="en">

<head>
    {{>headlinks}}
</head>

<body>
  {{>navbar}}

    <!-- header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">

                    <!-- Right side div -->
                    <div class="col-md-12 col-12 align-items-center main_header_left">
                        <figure>
                            <img src="/images/errorpage.jpg" alt="img" class="img-fluid errorpageimg" title="RAJA USMAN">
                        </figure>
                        <p>Welcome to Raja's App</p>
                        <h1>Opps! Page not found</h1>
                        <a href="/"><button>Go Back</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->
   {{>footer}}
</body>

</html>