<!doctype html>
<html lang="en">

<head>
  {{>headlinks}}
</head>

<body>
 {{>navbar}}
<div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
<div class="container my-3">
    <h3>Top News <span class="badge badge-secondary">by BBC News</span></h3>
    <hr>
    <div class="accordion" id="newsAccordion"></div>
  </div>
                </div>
                </div>
</div>
{{>footer}}
  <script src="/js/news.js"></script>
</body>

</html>
